<style>
    input{
        letter-spacing: 0.5px;
    }
</style>
<div align="center" style="border: 1px solid black; margin-right: 200px; margin-left: 200px; padding: 20px;">
    <h3>Login Form</h3>
    <div>
        <table class="table" style="width:500px;">
            <tr>
                <td>
                    <label>Email</label>
                </td>
                <td>:</td>
                <td>
                    <input type="text" id="loginId" placeholder="enter registered emailId" ng-model="loginInfo.emailId"
                        style="height: 35px; width:300px;padding: 10px" /><br /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password </label>
                </td>
                <td>:</td>
                <td>
                    <input type="password" id="password" placeholder="password" ng-model="loginInfo.password"
                        style="height: 35px; width:300px; padding:10px;" /></br></br>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="margin-right: 0;"><button class="btn btn-default" ng-click="login()">Login</button></span>
                </td>
                <td colspan="2" align="right">
                    <span style="margin-left:0"><a href="#">forget password?</a></span><br/>
                </td>
            </tr>
            <tr>
                <td colspan="3" align="right">
                    <span style="margin-left:0;">
                        <a href="#!registration"><button class="btn btn-default">Registration</button></a>
                    </span>
                </td>
            </tr>
        </table>
     
    </div>
</div>