<div class="container" style="border: 1px solid #428bca; padding: 0px;">
    <div class="container-fluid bg-primary" style="border-radius: 1%;">
        <h3>ProductList</h3>
    </div>

    <!-- <div class="container">
        <label>Filter by :</label>
        <input type="text" ng-model="filterByNmae.productName" style="margin:10px 0px 5px 70px;"
            ng-focus="isDisplayed=true" ng-blur="isDisplayed=false" /><br />
        <label ng-model="ishidden" ng-show="isDisplayed">Filtered By : {{filterByNmae.productName}}</label>
    </div> -->
    <div class="container">
        <table class="table table-responsive table-condensed">
            <tr>
                <th><input type="button" class="btn btn-primary w3-round-large" 
                        [value]="buttonText" (click)="toggleVisibility()" /></th>
                <th>Product Name</th>
                <th>product Code</th>
                <th>ReleaseDate</th>
                <th>Description</th>
                <th>Price</th>
                <th>StarRating</th>
            </tr>
            <tr *ngFor="let item of productData ">  <!-- | filter: filterByNmae -->

                <td><img [src]="item.imageUrl" style="width:50px;height:50px;"
                        [hidden]="isHide"></td>
                <td><a [routerLink]="['/Product',item.productId]">{{ item.productName }}</a></td>
                <td>{{ item.productCode }}</td>
                <td>{{ item.releaseDate }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.price }}</td>
                <!-- <td>
                    <span class="stars alignright">
                        <span [style]="{ 'width': getStars({{item.starRating}}) }"></span>
                    </span>
                </td> -->
            </tr>
        </table>
    </div>
</div> 
