<div style="border-style: solid; padding: 10px; margin: 10px;" hidden>
    <h1>{{message}}</h1>
    <div>
        {{22/7 | number:'1.1-2'}}
    </div>
    <div>
        {{ false || "vivek" | uppercase }}
    </div>
</div>

<section hidden>
   <swabhav-student></swabhav-student>
</section>
<hr><hr>
<section hidden>
    <swabhav-multiBind></swabhav-multiBind>
</section>
<section hidden>
    <swabhav-ball-game></swabhav-ball-game>
</section>
<section>
    <toggel-button [textValue]='"Toggel"' [offColor]='"red"' [onColor]='"green"' [state]='"0"'></toggel-button>
</section>