<div align="center" style="border: 1px solid black; margin-right: 200px; margin-left: 200px; padding: 20px;">
    <h3>Login Form</h3>
    <div>
        <input type="text" id="loginId" placeholder="emailId" ng-model="loginInfo.emailId" style="height: 30px; width:300px;padding: 10px"/><br/><br/>
        <input type="password" id="password" placeholder="password" ng-model="loginInfo.password" style="height: 30px; width:300px; padding:10px;"/></br></br>
        <span style="margin-right: 40px;"><button class="btn btn-default" ng-click="login()">Login</button></span>
        <span style="margin-left:80px"><a href="#">forget password?</a></span><br/>
        <span style="margin-left:170px;"><a href="#!registration"><button class="btn btn-default">Registration</button></a></span>
    </div>
</div>