<div>
    <div class="container">
        <div>
            <h2> Welcome {{user.userName}}</h2>
        </div>
        <div style="display: inline-block">
            <button class="btn btn-default" ng-click="edit()">Edit Profile</button>
            <button class="btn btn-default" ng-click="addTask()">Add Task</button>
        </div>
        <div style="display: inline-block">
            <button type="button" class="btn btn-default" ng-click="logout()">Logout</button></button>
        </div>
        <hr>
    </div>
    <div class="container">
        <div style="width:30rem; background-color: rgb(231, 231, 102); padding: 20px; display: inline-block; margin: 10px"
            ng-repeat="task in tasks">
            <div>
                <!-- <lable> Title: </lable> -->
                <h4>{{ task.title }}</h4>
                <hr style="border: 1px solid black"/>
                <label> Description: </label>
                    <p>{{ task.description }}</p>
                <label> Assignee: </label>
                    <p>{{ task.assignee }}</p>
                    <div>
                        <button class="btn btn-default" ng-click="displaySubTasks(task._id)">Sub-tasks</button>
                        <button class="btn btn-default" ng-click="">Edit</button>
                        <button class="btn btn-default" ng-click="deleteTask(task._id)">Delete</button>
                    </div>
            </div>
        </div>
    </div>
</div>