<div>
    <div class="container">
        <div>
                <h2> Welcome {{user.userName}}</h2>
        </div>
        <div style="display: inline-block">
                <button class="btn btn-default">Profile</button>
                <button class="btn btn-default">Add Task</button>
        </div>
        <div style="display: inline-block">
            <button type="button" class="btn btn-default" ng-click="logout()">Logout</button></button>
        </div>
        <hr>
    </div>
    <div class="container">
        <div style="width:30rem; background-color: rgb(231, 231, 102); padding: 20px" ng-repeat="task in user.Task">
            <div>
                <!-- <lable> Title: </lable> -->
                <h4>{{ task.title }}</h4>
                <lable> Description: </label>
                <p>{{ task.description }}</p>
                <div>
                    <button class="btn btn-default" ng-click="displaySubTasks()">Sub-tasks</button>
                    <button class="btn btn-default" ng-click="">Edit</button>
                    <button class="btn btn-default">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>