<section class="well-lg">
    <div>
        <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
            <thead>
                <th colspan="2" class="text-center" style="font-size: 24px">Contact Data Form</th>
            </thead>
            <tbody>
                <tr>
                    <td>Id</td>
                    <td><input type="text" ng-model="contact.id"/></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input type="text" ng-model="contact.name"/></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td><input type="text" ng-model="contact.phone"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href='#!home'><button class="btn btn-default btn-lg" ng-click='callFectory()'>Add</button></a>
                        <a href='#!home'> <button class="btn btn-default btn-lg" ng-click=''>Back</button></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>